.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(112, 179, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .loading-overlay > div {
    background: transparent !important;
  }
  
  .loading-overlay svg {
    background: transparent !important;
  }
  
  .loading-overlay * {
    background: transparent !important;
  }