.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainWrapper {
  display: flex;
  overflow: visible;
  background-color: #f5f5f5;
}

.content {
  padding: 1.5rem;
  overflow-y: auto;
  transition: padding 0.3s ease;
  height: 87vh; /* Adjusted to fit the layout better */
  width: 100vw;
  margin-right: 54px;
}


.fullWidth {
  width: 100%;
}

/* Responsive design */
@media (max-width: 768px) {
  .content {
    padding: 1rem;
    margin-right: 0;
  }
}

